<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <link rel="stylesheet" href="/static/custom.css" />
        
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.js"></script>
    <script type="text/javascript">
        Bokeh.set_log_level("info");
    </script>

    <title>Admin page</title>
</head>

<body>
    <div id="nav" class="fourteen columns">
        <ul>
            <li><a href="player">Player Page</a></li>
            <li><a href="admin">Admin Page</a></li>
            <li><a href="login">Login</a></li>
            <li><a href="logout">Logout</a></li>
        </ul>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message[1] }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    {% if hour < 5 %} 
    <h3>Day {{day}}, hour {{hour}} | Auction type: {{auction_type}}</h3> 
    {% endif %} 
    {% if hour == 5 %} 
    <h3>End of day {{day}} | Auction type: {{auction_type}}</h3> 
    {% endif %}
    {{ chart_div|safe }}
    {{ chart_script|safe }}
    <b>Demands: </b> {{demands}} <!--| <b>Breakpoints: </b> {{breakpoints}} --><br> 
    <b>Prices: </b> {{prices}}<br>
    <b>Sorted Bids/Capacities: </b> {{sorted_bids}} <br>
    {% for (name, player, table) in player_info %}
    <h5>Status of {{name}}</h5>
    {{player}}
    {{table}} {% endfor %}
    <br>
    <br>        
    <form method="post">
        <input type="Submit" value="Advance to next hour"> 
    </form>
</body>

</html>
