
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <link rel="stylesheet" href="/static/custom.css" />
    <title>Login</title>
</head>

<body>
    <div id="nav" class="fourteen columns">
        <ul>
            <li><a href="player">Player Page</a></li>
            <li><a href="admin">Admin Page</a></li>
            <li><a href="login">Login</a></li>
            <li><a href="logout">Logout</a></li>
        </ul>
    </div>

    <centered>
        <br><br>
        <h1>Logged out </h1>
    </centered>
</body>

</html>