<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <link rel="stylesheet" href="/static/custom.css" />
    <title>Player page: {{name}}</title>
</head>

<body>
    <div id="nav" class="fourteen columns">
        <ul>
            <li><a href="player">Player Page</a></li>
            <li><a href="admin">Admin Page</a></li>
            <li><a href="login">Login</a></li>
            <li><a href="logout">Logout</a></li>
        </ul>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message[1] }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <h1>Player page: {{name}}</h1>
    <h2>Day {{day}}, hour {{hour}}</h2>
    <h3>Current Status: </h3>
    {{table}}
    <h3>Bidding</h3>
    <form action="" method="post">
        {{ form.csrf }}

        <div class="input portfolio">
            {{ form.plant.label }} {{ form.plant }}
        </div>
        <div class="input bid">
            {{ form.bid.label }} {{ form.bid }}
        </div>
        <div class="input submit">
            <input type="submit" value="Submit" />
        </div>
    </form>
</body>

</html>