<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <link rel="stylesheet" href="/static/custom.css" />

    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.js"></script>
    <script type="text/javascript">
        Bokeh.set_log_level("info");
    </script>

    <title>Player page: {{name}}</title>
</head>

<body>
    <div id="nav" class="fourteen columns">
        <ul>
            <li><a href="player">Player Page</a></li>
            <li><a href="admin">Admin Page</a></li>
            <li><a href="login">Login</a></li>
            <li><a href="logout">Logout</a></li>
        </ul>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message[1] }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <h1>Player page: {{name}}</h1>
    {% if hour < 5 %}
    <h3>Day {{day}}, hour {{hour}} | Auction type: {{auction_type}}</h3>
    {% endif %} 
    {% if hour == 5 %}
    <h3>End of day {{day}} | Auction type: {{auction_type}}</h3>
    {% endif %}    
    {{chart_div|safe}}
    {{chart_script|safe}}
    <b>Demands: </b> {{demands}} <!--| <b>Breakpoints: </b> {{breakpoints}} --><br>
    <b>Prices: </b> {{prices}}<br>
    <b>Sorted Bids/Capacities: </b> {{sorted_bids}} <br>
    <b>Player info:</b> {{player_info}}
    {{table}}
    <h3>Bidding</h3>
    <form action="" method="POST" name="form">
        {{ form.csrf }}
        <div>
            <table>
                <style>
                    input,
                    textarea,
                    select,
                    fieldset { margin-bottom: 0rem; }
                </style>
                <tr>
                    <th> Plant Name </th>
                    <th> Bid </th>
                </tr>
                {% for plantbid in form.plantbids %}
                <tr>
                    <td>{{ plantbid.plant_name.data }}</td>
                    <td>{{ plantbid.bid }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="input sumbit">
            <input type="submit" value="Submit" />
        </div>
    </form>
</body>

</html>
